*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:  rgb(126, 176, 206);
}

.container{
    background-color: rgb(126, 176, 206);
}

/* ///////////////// NAV ////////////////////// */
nav{
    background-color: rgb(126, 176, 206);
    display: flex;
    border-radius: 30px;
    margin: 0rem 1rem 0 1rem;
    padding-top: 2.1rem;
}

nav h2{
    background-color: rgb(224, 219, 215);
    width: 20%;
    padding: 1px 0 6px 25px;
    border-radius: 30px 0 0 30px;
    z-index: 1;
    border: 2px solid black;
    border-right: 0;
    font-size: 21px;
}

nav ul{
    background-color: rgb(224, 219, 215);
    width: 80%;
    text-align: end;
    padding-top: 6px;
    padding-right: 15px;
    border-radius: 0 30px 30px 0;
    border: 2px solid black;
    border-left: 0;
}

nav ul li{
    display: inline-block;
    padding: 1px 8px 1px 8px;
    margin-right: 1rem;
}

nav ul li#area{
    color: rgb(0, 0, 0);
}

nav ul li select{
    border-radius: 8px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav ul li a:hover{
    color: rgb(255, 0, 0);
}
/* ///////////////// NAV END ////////////////////// */

/* ///////////////// KONTEN ////////////////////// */
.konten .konten-lotext{
    background-color: rgb(126, 176, 206);
    height: 90vh;
    padding-top: 3rem;
}

.konten .konten-lotext .box-1{
    background-color: rgb(224, 219, 215);
    width: 90%;
    text-align: center;
    margin: auto;
    height: 90%;
    border-radius: 8px;
    border: 2px solid black;
}

.konten .konten-lotext .box-1 .logo{
    height: 60%;
    align-content: center;
}

.konten .konten-lotext .box-1 .logo img{
    width: 23%;
}

.konten .konten-lotext .box-1 .text{
    height: 30%;
    background-color: rgb(126, 176, 206);
    padding: 10px 20px;
    align-content: center;
    width: 95%;
    margin: 20px auto;
    border-radius: 18px;
    text-align: -webkit-center;
}

.konten .konten-lotext .box-1 .text p{
    width: 70%;
    font-size: 17px;
}

.konten .konten-area{
    background-color: rgb(126, 176, 206);
    height: 100vh;
    padding-top: 3rem;
}

.konten .konten-area .box-2{
    background-color: rgb(224, 219, 215);
    width: 90%;
    text-align: center;
    margin: auto;
    height: 90%;
    border-radius: 8px;
    border: 2px solid black;
}

.konten .konten-area .box-2 h2{
    padding: 8px;
    background-color: rgb(224, 219, 215);
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid black;
}

.konten .konten-area .box-2 table{
    background-color: rgb(88, 151, 151);
    margin: 3.5rem auto;
    width: 75%;
    height: 45vh;
    margin-top: 90px;
}

.konten .konten-area .box-2 table tr th{
    width: 20%;
}

.konten .konten-area .box-2 table tr th a{
    text-decoration: none;
    color: rgb(41, 32, 25);
}

.konten .konten-area .box-2 table tr th a:hover{
    text-decoration: none;
    color: rgb(255, 252, 245);
}

.konten .konten-area .box-2 table tr th#diyy{
    background-color: rgb(88, 151, 151);
}

.konten .konten-area .box-2 table tr th#putih{
    background-color: rgb(224, 219, 215);
}
/* ///////////////// KONTEN END ////////////////////// */

/* ///////////////// CONTACT ////////////////////// */
.contact{
    background-color: rgb(8, 58, 58);
    height: 100vh;
    padding-top: 3rem;
}

.contact .box-c{
    background-color: rgb(224, 219, 215);
    width: 90%;
    text-align: center;
    margin: auto;
    height: 90%;
    border-radius: 8px;
    border: 2px solid black;
}

.contact .box-c h2{
    background-color: rgb(88, 151, 151);
    height: 10%;
    align-content: center;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid black;
}

.contact .box-c form{
    background-color: rgb(88, 151, 151);
    height: 70%;
    width: 60%;
    align-content: center;
    margin: 3rem auto;
    border-radius: 10px;
    border: 1px solid black;
}

.contact .box-c form .nama input#nama{
    padding: 5px;
    margin-bottom: 10px;
    width: 75%;
    border-radius: 8px;
    border: 2px solid black;
    background-color: antiquewhite;
    padding-left: 15px;
}

.contact .box-c form .date input#date{
    padding: 4px;
    width: 75%;
    border-radius: 8px;
    border: 2px solid black;
    background-color: antiquewhite;
    margin: 0 auto 5px;
    padding-left: 15px;
}

.contact .box-c form .message textarea#message{
    padding: 4px;
    padding-top: 9px;
    width: 75%;
    border-radius: 8px;
    border: 2px solid black;
    background-color: antiquewhite;
    margin: 0 auto 5px;
    padding-left: 15px;
    height: 120px;
}

.contact .box-c form button#submit{
    padding: 4px 8px 4px 8px;
    margin-top: 1.3rem;
    border-radius: 6px;
}

.contact .box-c form button#submit:hover{
    background-color: rgb(8, 58, 58);
    color: rgb(255, 255, 255);
}

.contact .box-c form button#submit a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.contact .box-c form button#submit a:hover{
    color: white;
}
/* ///////////////// CONTACT END ////////////////////// */

/* ///////////////// WISATA ////////////////////// */
.wisata{
    background-color: rgb(126, 176, 206);
    width: 90%;
    text-align: center;
    margin: 2rem auto 1rem;
    height: 80vh;
    border-radius: 8px;
    padding: 1rem;
}

.wisata .box{
    background-color: blue;
    height: 73vh;
    border-radius: 8px;
}

.wisata .box h3{
    background-color: rgb(8, 58, 58);
    border: 2px solid black;
    border-bottom: 0;
    color: aliceblue;
    height: 10%;
    padding-top: 10px;
    border-radius: 8px 8px 0 0;
}

.wisata .box ul{
    background-color: rgb(224, 219, 215);
    text-align: center;
    height: 90%;
    padding-top: 2.8rem;
    border: 1px solid black;
    border-radius:  0 0 8px 8px;
}

.wisata .box ul li{
    display: inline-block;
    background-color: rgb(224, 219, 215);
    margin-left: 1.2rem;
    padding-bottom: 1rem;
    border: 1px solid black;
    border-radius: 8px;
}

.wisata .box ul li a img{
    background-color:rgb(224, 219, 215);
    width: 70%;
}

.wisata .box ul li a{
    text-decoration: none;
}

.wisata .box ul li a p{
    background-color: rgb(8, 58, 58);
    padding: 0.5rem;
    margin-top: 1rem;
    margin: auto;
    color: wheat;
    border-radius: 8px;
    width: 80%;
}
/* ///////////////// WISATA END ////////////////////// */

/* ///////////////// FOOTER ////////////////////// */
footer{
    background-color: black;
    color: white;
    height: 10%;
    padding: 8px;
}

footer h2{
    text-align: center;
}

footer h2 a{
    text-decoration: none;
    color: wheat;
}

footer h2 a:hover{
    color: rgb(175, 136, 136);
}
/* ///////////////// FOOTER END ////////////////////// */

/* ///////////////// MEDIA SCREEN ////////////////////// */
@media screen and (max-width: 1025px){
    .konten .konten-lotext .box-1 .logo img{
        width: 33%;
    }

    .konten .konten-lotext .box-1 .text p{
        width: 80%;
    }
}

@media screen and (max-width:667px){
    .konten .konten-lotext .box-1 .logo img{
        width: 43%;
    }

    .konten .konten-lotext .box-1 .text p{
        width: 80%;
        font-size: 15px;
    }
}

@media screen and (max-width: 512px){

    nav h2{
        font-size: 15px;
        padding-top: 5px;
    }

    nav ul{
        font-size: 13px;
    }

    .konten .konten-lotext .box-1 .logo img{
        width: 50%;
    }

    .konten .konten-lotext .box-1 .text p{
        width: 80%;
        font-size: 13px;
    }
}

@media screen and (max-width: 477px){
    
}
/* ///////////////// MEDIA SCREEN END ////////////////////// */